<div class="seller-auth">
    <div class="signup">
        <h1>Admin Sign-Up</h1>
        <form #adminsignup="ngForm" (ngSubmit)="signUp(adminsignup.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="username" placeholder="Enter Username">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <button class="form-button">SignUp</button>
        </form>
    </div>
</div>
